.theme-color {
  color: #fff5f5;
}

.bg-theme-color {
  background-color: #fff5f5 !important; 
}

.failed-text {
  color: #ff0000;
}

.w-90 {
  width: 90%;
}

.w-30 {
  width: 30%;
}

.w-80 {
  width: 80% !important;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.h-90 {
  height: 90% !important;
}

.mh-100 {
  max-height: 100vh;
}

.h-80 {
  height: 80%;
}

.h-20 {
  height: 20%;
}